# Игнорирование node_modules (папка с зависимостями Node.js)
node_modules/

# Игнорирование файлов, содержащих сгенерированный код
/dist/
/build/

# Игнорирование локальных конфигурационных файлов
.env
.env.local
.env.*.local

# Игнорирование файлов журналов и отладочных данных
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Игнорирование временных файлов
tmp/
.temp/

# Игнорирование файлов настроек редактора
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Игнорирование файлов зависимостей
*.bin
*.lock
